In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
import warnings

warnings.filterwarnings('ignore')

In [ ]:
data = pd.read_csv("/content/play_tennis.csv")
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [ ]:
data.columns

Index(['day', 'outlook', 'temp', 'humidity', 'wind', 'play'], dtype='object')

In [ ]:
data.isnull()

      day  outlook   temp  humidity   wind   play
0   False    False  False     False  False  False
1   False    False  False     False  False  False
2   False    False  False     False  False  False
3   False    False  False     False  False  False
4   False    False  False     False  False  False
5   False    False  False     False  False  False
6   False    False  False     False  False  False
7   False    False  False     False  False  False
8   False    False  False     False  False  False
9   False    False  False     False  False  False
10  False    False  False     False  False  False
11  False    False  False     False  False  False
12  False    False  False     False  False  False
13  False    False  False     False  False  False

In [ ]:
data.isnull().sum()

day         0
outlook     0
temp        0
humidity    0
wind        0
play        0
dtype: int64

In [ ]:
data[data.isnull().any(axis = 1)]

Empty DataFrame
Columns: [day, outlook, temp, humidity, wind, play]
Index: []

In [ ]:
data.isnull().any()

day         False
outlook     False
temp        False
humidity    False
wind        False
play        False
dtype: bool

In [ ]:
data.isnull().any().any()

True

In [ ]:

before_rows = data.shape[0]
data = data.dropna()
after_rows = data.shape[0]

In [ ]:
print("The number of dropped rows are {}".format(before_rows - after_rows))

The number of dropped rows are 0

In [ ]:
clean_data = data.copy() # New data frame to avoid confusion
clean_data['high_humidity_label'] = (clean_data['relative_humidity_3pm'] > 24.99) * 1
print(clean_data['high_humidity_label'])

KeyError: ignored

In [ ]:
y = clean_data[['high_humidity_label']].copy()
y

      high_humidity_label
0                       1
1                       0
2                       0
3                       0
4                       1
...                   ...
1090                    1
1091                    1
1092                    1
1093                    1
1094                    0

[1064 rows x 1 columns]

In [ ]:
clean_data['relative_humidity_3pm'].head()

0    36.160000
1    19.426597
2    14.460000
3    12.742547
4    76.740000
Name: relative_humidity_3pm, dtype: float64

In [ ]:
y.head()

   high_humidity_label
0                    1
1                    0
2                    0
3                    0
4                    1

In [ ]:
y.tail()

      high_humidity_label
1090                    1
1091                    1
1092                    1
1093                    1
1094                    0

In [ ]:
time = '9am'
features = list(clean_data.columns[clean_data.columns.str.contains(time)])

# we do not need relative humidity at 9am
features.remove('relative_humidity_9am')

features

['air_pressure_9am',
 'air_temp_9am',
 'avg_wind_direction_9am',
 'avg_wind_speed_9am',
 'max_wind_direction_9am',
 'max_wind_speed_9am',
 'rain_accumulation_9am',
 'rain_duration_9am']

In [ ]:
X = clean_data[features].copy()